{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="description" value="Система Обліку Студентів Навчального Закладу">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static "css/main.css" %}>
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="container">
        <div class="row" id="header">
            <div class="col-xs-8">
              <h1>Сервіс Обліку Студентів</h1>
            </div>
            <div class="col-xs-4" id="group-selector">
              <strong>Група:</strong>
              <select>
                  <option value="">Усі Студенти</option>
                  <option value="">МтМ - 22, Миша Міккі (No 2123)</option>
                  <option value="">МтМ - 21, Качка Дональд (No 2124)</option>
                  <option value="">МтМ - 20, Пес Плутон (No 2125)</option>
              </select>
            </div>
        </div>
        <div class="row" id="sub-header">
            <div class="col-xs-12">
              <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="/">Студенти</a></li>
                  <li role="presentation"><a href="/journal">Відвідування</a></li>
                  <li role="presentation"><a href={% url "groups" %}>Групи</a></li>
              </ul>
            </div>
        </div>
        <div class="row" id="content-columns">
            <div class="col-xs-12" id="content-column">

              {% comment "Not used alert so far" %}
              <div class="alert alert-warning" role="alert">Status Update!</div>
              {% endcomment %}

              <h2>{% block title %}{% endblock title %}</h2>

            {% block content %}{% endblock content %}
            </div>
        </div>

        <div class="row" id="footer">
            <div class="col-xs-12">
              &copy; 2014 Сервіс Обліку Студентів
            </div>
        </div>
    </div>



    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
     {% block extra_js %}{% endblock extra_js %}

</body>
</html>