{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Список груп{% endblock meta_title %}
{% block logo %}Сервіс Обліку Студентів{% endblock logo %}
{% block menu %}
    <strong>Група:</strong>
              <select>
                  <option value="">Усі Групи</option>
                  <option value="">МтМ - 22</option>
                  <option value="">МтМ - 21</option>
                  <option value="">МтМ - 20</option>
              </select>
{% endblock menu %}
{% block title %}Групи{% endblock title %}
{% block content %}

              <a class="btn btn-primary" href={% url "groups_add" %}>Додати Групу</a>

              <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><a href="">Назва &uarr;</a></th>
                        <th><a href="">Староста</a></th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a title="Редагувати" href={% url "groups_edit" 1 %}>МтМ - 21</a></td>
                        <td><a title="Редагувати" href="#">Людина Мауглі</a></td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle"
                                      type="button" data-toggle="dropdown">Дія
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li role="presentation">
                                      <a role="menuitem" tabindex="-1" href={% url "groups_edit" 1 %}>Редагувати</a>
                                  </li>
                                  <li role="presentation">
                                      <a role="menuitem" tabindex="-1" href={% url "groups_delete" 1 %}>Видалити</a>
                                  </li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a title="Редагувати" href={% url "groups_edit" 2 %}>МтМ - 22</a></td>
                        <td><a title="Редагувати" href="#">Ведмідь Балу</a></td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle"
                                      type="button" data-toggle="dropdown">Дія
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li role="presentation">
                                      <a role="menuitem" tabindex="-1" href={% url "groups_edit" 2 %}>Редагувати</a>
                                  </li>
                                  <li role="presentation">
                                      <a role="menuitem" tabindex="-1" href={% url "groups_delete" 2 %}>Видалити</a>
                                  </li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a title="Редагувати" href={% url "groups_edit" 3 %}>МтМ - 23</a></td>
                        <td><a title="Редагувати" href="#">Слон Дамбо</a></td>
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle"
                                      type="button" data-toggle="dropdown">Дія
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li role="presentation">
                                      <a role="menuitem" tabindex="-1" href={% url "groups_edit" 3 %}>Редагувати</a>
                                  </li>
                                  <li role="presentation">
                                      <a role="menuitem" tabindex="-1" href={% url "groups_delete" 3 %}>Видалити</a>
                                  </li>
                              </ul>
                            </div>
                        </td>
                    </tr>

                </tbody>
              </table>
    {% include "pagination.html" %}

{% endblock content %}
{% block footer %}&copy; 2014 Сервіс Обліку Груп{% endblock footer %}