{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Відвідування студентів{% endblock meta_title %}
{% block logo %}Сервіс Обліку Студентів{% endblock logo %}
{% block menu %}
    <strong>Група:</strong>
              <select>
                  <option value="">Усі Студенти</option>
                  <option value="">МтМ - 22, Миша Міккі (No 2123)</option>
                  <option value="">МтМ - 21, Качка Дональд (No 2124)</option>
                  <option value="">МтМ - 20, Пес Плутон (No 2125)</option>
              </select>
{% endblock menu %}
{% block title %}Облік Вівідування{% endblock title %}
{% block content %}
<h5 style="text-align: center"><a href="#">&larr;</a>Жовтень<a href="#">&rarr;</a></h5>

              <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Студент</th>
                        <th style="text-align: center">Ср<br>1</th>
                        <th style="text-align: center">Чт<br>2</th>
                        <th style="text-align: center">Пт<br>3</th>
                        <th style="text-align: center">Сб<br>4</th>
                        <th style="text-align: center">Нд<br>5</th>
                        <th style="text-align: center">Пн<br>6</th>
                        <th style="text-align: center">Вт<br>7</th>
                        <th style="text-align: center">Ср<br>8</th>
                        <th style="text-align: center">Чт<br>9</th>
                        <th>Пт<br>10</th>
                        <th>Сб<br>11</th>
                        <th>Нд<br>12</th>
                        <th>Пн<br>13</th>
                        <th>Вт<br>14</th>
                        <th>Ср<br>15</th>
                        <th>Чт<br>16</th>
                        <th>Пт<br>17</th>
                        <th>Сб<br>18</th>
                        <th>Нд<br>19</th>
                        <th>Пн<br>20</th>
                        <th>Вт<br>21</th>
                        <th>Ср<br>22</th>
                        <th>Чт<br>23</th>
                        <th>Пт<br>24</th>
                        <th>Сб<br>25</th>
                        <th>Нд<br>26</th>
                        <th>Пн<br>27</th>
                        <th>Вт<br>28</th>
                        <th>Ср<br>29</th>
                        <th>Чт<br>30</th>
                        <th>Пт<br>31</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td><a title="Редагувати" href="#"></a></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
              </table>
{% endblock content %}
{% block footer %}&copy; 2014 Сервіс Обліку Студентів{% endblock footer %}